html {
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.title-calc {
    color: blanchedalmond;
    text-align: center;
    margin-top: 75px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 50px;
}

.main-container {
    height: 500px;
    width: 350px;
    background-color: wheat;
    margin: 125px auto;
    padding-top: 10px;
    border-radius: 5%;
}

.visor {
    background-color: honeydew;
    width: 90%;
    height: 15%;
    margin: auto;
    color: black;
    text-align: right;
    font-size: 65px;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 350px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.grid-item {
    background-color: white;
    margin: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 45%;
    font-weight: bolder;
}

.name {
    margin: auto 20px 10px auto;
    text-align: right;
    font-weight: bold;
    color: #4d4d4d;
}

.special {
    background-color: brown;
}

.operators {
    background-color: #63b3b0;
}

.result {
    background-color: #499d49;
}

.digits {
    background-color: lightsteelblue;
}

.others {
    background-color: #a0a0a0;
}

.nums-visor {
    margin: auto;
}